.orders form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .orders form input{
        width: 40%;
        margin-bottom: 10px;
    }
    .orders{
        margin-top: 50px;
        margin-bottom: 50px;
    }